<ion-header>
    <ion-toolbar>
      <ion-title>Atualizar Mensagem</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="formGroup">
      <ion-list>
        <ion-item>
          <ion-label floating>Título</ion-label>
          <ion-input formControlName="titulo" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Texto</ion-label>
          <ion-input formControlName="texto" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Data</ion-label>
          <ion-input formControlName="data" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="full" (click)="atualizar()">Atualizar</ion-button>
    </form>
  </ion-content>