<ion-header>
  <ion-toolbar>
    <ion-title>ClienteView</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Telefone</ion-label>
        <ion-input formControlName="telefone" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>E=mail</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="atualizar()">Atualizar</ion-button>
  </form>
</ion-content>