<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Lista De Clientes</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
    
  <ion-card  *ngFor="let cliente of listaDeClientes">
        
      <ion-card-header>
          
          <ion-card-title>{{cliente?.nome}}</ion-card-title>
            <ion-card-subtitle>{{cliente?.email}}</ion-card-subtitle>
              <ion-card-subtitle>{{cliente?.telefone}}</ion-card-subtitle>
        
        
            </ion-card-header>
   
      </ion-card>
</ion-content>
