<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro De Cliente</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>

  <form [formGroup]="formGroup" (ngSubmit)="cadastrar()">
    <ion-list>
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>telefone</ion-label>
        <ion-input formControlName="telefone" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>CEP</ion-label>
        <ion-input formControlName="cep" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Endereço</ion-label>
        <ion-input formControlName="endereco" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="cadastrar()">Cadastrar</ion-button>
  </form>

</ion-content>