<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro De Cliente</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>

  <form [formGroup]="formGroup" (ngSubmit)="cadastrar()">
    <ion-list>
      <ion-item>
        <ion-item class="a">
          <ion-label class="Nome" position="floating">NOME</ion-label>
          <ion-input [(ngModel)]="title" class="nome" type="text"></ion-input>
        </ion-item>
        <ion-label floating>Telefone</ion-label>
        <ion-input formControlName="telefone" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="cadastrar()">Cadastrar</ion-button>
  </form>

</ion-content>